name: CI

on: [push, pull_request]

jobs:
  build:
    name: JDK ${{ matrix.java_version }} - KSP ${{ matrix.ksp_enabled }} - Incremental ${{ matrix.ksp_incremental_enabled }} - Kotlin ${{ matrix.kotlin_version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # No 12 because Kapt
        java_version: [ 11, 13, 14, 15, 16 ]
        kotlin_version: [ 1.5.0 ]
        ksp_enabled: [ true, false ]
        ksp_incremental_enabled: [ true, false ]
        exclude:
          # Don't test incremental KSP if KSP itself isn't enabled
          - ksp_enabled: false
            ksp_incremental_enabled: true
      fail-fast: false
    env:
      MOSHIX_KOTLIN: ${{ matrix.kotlin_version }}
      MOSHIX_JAVA: ${{ matrix.java_version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v1
      - name: Gradle Wrapper Validation
        uses: gradle/wrapper-validation-action@v1
      - name: Generate cache key
        run: ./checksum.sh checksum.txt
      - uses: actions/cache@v2
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ matrix.java_version }}-${{ matrix.job }}-${{ hashFiles('checksum.txt') }}
          restore-keys: |
            ${{ runner.os }}-gradle-${{ matrix.java_version }}-${{ matrix.job }}-
      - name: Install JDK
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-version: ${{ matrix.java_version }}
      - name: Build project
        run: ./gradlew build check -Pmoshix.useKsp=${{ matrix.ksp_enabled }} -Pksp.incremental=${{ matrix.ksp_incremental_enabled }} --stacktrace
      - name: Upload snapshot (main only)
        run: |
          ./gradlew --stop && jps|grep -E 'KotlinCompileDaemon|GradleDaemon'| awk '{print $1}'| xargs kill -9 || true
          ./gradlew publishAllPublicationsToMavenCentralRepository -PmavenCentralUsername=${{ secrets.SONATYPE_USERNAME }} -PmavenCentralPassword=${{ secrets.SONATYPE_PASSWORD }}
        if: github.ref == 'refs/heads/main' && github.event_name == 'push' && matrix.java_version == '16' && !matrix.ksp_enabled
